.mobile-filter{
  display: none;
}

.pagination-filter {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;

  button {
    display: none;
  }

  .search {
    display: none;
  }

  .search-container {
    background: white;
    display: none;
    justify-content: flex-start;
    align-items: center;
    padding: .3rem .3rem;
    margin-right: 1rem;
    border-radius: 50px;

    input {
      border: none;
      outline: none;
      font-size: 14px;
    }

    .search-icon {
      background: $secondary;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
      cursor: pointer;
      transition: .5s;

      &:hover {
        transform: scale(1.26);
      }
    }
  }

  .filter-btn {
    display: none;
  }

  .pages {
    display: flex;
    justify-content: center;

    .active {
      background: $secondary  !important;
      color: black !important;
    }

    .page {
      background: black;
      color: white;
      margin-inline: .5rem;
      height: 30px;
      width: 30px;
      border-radius: 7px;
      border: none;
      cursor: pointer;
    }
  }
}

.computer-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;

  .loading-wrapper {
    display: flex;
    justify-content: center;
  }

  .filter-container {
    background: white;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px;
    width: 26%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    margin-bottom: 2rem;

    div:not(.header) {
      margin-top: 1rem;
      width: 80%;

      h1 {
        font-size: 18px;
        color: #777;
      }

      .price-inputs {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-top: 0px;

        input {
          width: 80px;
          color: #777;
          text-align: center;

          &:first-of-type {
            margin-right: .3rem;
          }
        }
      }
    }

    .header {
      background: $secondary;
      display: flex;
      justify-content: flex-start;
      padding-inline: 1rem;
      align-items: center;
      width: 100%;
      height: 50px;

      h2 {
        font-size: 18px;
      }
    }
  }

  .computer-container{
    width: 70%;

    .pagination{
      margin-inline: 1rem;
      padding-bottom: 1rem;

      .page{
        height:30px;
        width:30px;
        border-radius: 8px;
        margin-inline:.5rem;
        border:none;
        background:black;
        color:white;
      }

      .active{
        background:$secondary;
        color:black;
      }

    }
  }
}

















@media (max-width:1024px) and (min-width:700px) {
  .pagination-filter {
    display: none;
  }
}

















.opened{
  width:45% !important;
}



@media (max-width:576px) {

  .mobile-filter{
    display: block;
    background:#fff;
    height: 100vh;
    width:0%;
    position: fixed;
    z-index: 5555555556;
    top:0px;
    box-shadow: 3px 2px 3px;
    transition: .5s;
    overflow:hidden;
  }

  .pagination-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem .5rem;
    width: 100%;

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 95%;
      margin-bottom: 1rem;

      button {
        background: $secondary;
        display: block;
        border: none;
        outline: none;
        font-size: 12px;
        border-radius: 10px;
        padding: .5rem .8rem;
        margin-left: .5rem;
      }

      .search {
        background: #fff;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: .3rem .3rem;
        border-radius: 50px;
        box-shadow: 0px 0px 2px;
        width:70%;

        input {
          border: none;
          outline: none;
          font-size: 11px;
          padding-left: 1rem;
          background: #fff;
          width:150px;
        }

        .search-icon {
          background: $secondary;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transition: .5s;

          &:hover {
            transform: scale(1.26);
          }
        }
      }
    }
  }


  .computer-wrapper {
    display: flex;
    justify-content: center;

    .computer-container {
      width: 100%;

      .pagination{
        padding-bottom: 1rem;
      }
    }

    .filter-container {
      display: none;
    }
  }
}













@media (max-width:321px) {
  .pagination-filter {
    justify-content: space-between;

    .filter-btn {
      font-size: 12px;
      padding: .5rem .6rem;
    }
  }
}