.pagination-filter{
  width:100%;
  height:35px;
  display: flex;
  justify-content: flex-end;
  background:red;
  padding-inline:1rem;

  
}

.computer-wrapper{
  width:100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;

  .loading-wrapper{
    display: flex;
    justify-content: center;
  }

  .filter-container{
    background:white;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px;
    width:26%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:2rem;
    margin-bottom: 2rem;

    div:not(.header){
      margin-top: 1rem;
      width:80%;

      h1{
        font-size: 18px;
        color:#777;
      }

      .price-inputs{
        width:100%;
        display: flex;
        justify-content: flex-start;
        margin-top: 0px;

        input{
          width:80px;
          color:#777;
          text-align: center;
          
          &:first-of-type{
            margin-right:.3rem;
          }
        }
      }
    }

    .header{
      background:$secondary;
      display: flex;
      justify-content: flex-start;
      padding-inline:1rem;
      align-items: center;
      width:100%;
      height:50px;
      
      h2{
        font-size: 18px;
      }
    }
  }

  .computer-container{
    width:70%;
  }
}


@media(width:1024px)
{

}

@media (max-width:992px) and (min-width:768px)
{

}

@media (max-width:576px)
{
  .computer-wrapper{
    display: flex;
    justify-content: center;

    .computer-container{
      width:100%;
    }

    .filter-container{
      display: none;
    }
  }
}